.hero {
    $this: &;
    margin-top: 60px;

    .is-seo-page & {
        background-color: var(--color-bg);
        margin: 0;
        padding: 120px 0 160px;

        @include tablet {
            padding: 60px 0 140px;
        }

        @include mobile {
            padding-bottom: 120px;
        }
        
        #{$this}__list {
            display: none;
        }
    }

    .title {
        max-width: 560px;

        @include tablet {
            max-width: 680px;
            text-align: center;
        }

        &__text-small {
            @include tablet {
                max-width: 560px;
            }
        }
    }

    &__wrapper {
        align-items: center;
        display: grid;
        gap: 0 80px;
        grid-template-columns: 680px 380px;

        @include tablet {
            gap: 100px 0;
            grid-template-columns: auto;
            justify-content: center;
        }

        @include mobile {
            gap: 60px 0;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;

        @include tablet {
            align-items: center;
        }
    }

    &__buttons {
        @include flex-v-center;
        gap: 0 20px;
    }

    &__list {
        display: grid;
        gap: 0 43px;
        grid-template-columns: 191px 174px 174px;
        margin-top: 80px;

        @include mobile {
            gap: 20px 0;
            grid-template-columns: auto;
            margin-top: 60px;
        }
    }
    
    &__item {
        @include flex-v-center;
        gap: 0 14px;

        &:nth-child(2) {
            #{$this}__star {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Crect x='0.5' y='0.5' width='16' height='16' fill='%2300B67A'/%3E%3Cpath d='M14.2147 7.15334H9.85053L8.50253 2.78568L7.15031 7.15334L2.78613 7.14891L6.32044 9.85101L4.96822 14.2142L8.50253 11.5166L12.0326 14.2142L10.6846 9.85101L14.2147 7.15334Z' fill='white'/%3E%3Cpath d='M10.9878 10.8394L10.6845 9.85159L8.50244 11.5172L10.9878 10.8394Z' fill='%2300B67A'/%3E%3C/svg%3E");
                }
            }
        }

        &:last-child {
            #{$this}__star {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Ccircle cx='8' cy='8.5' r='8' fill='%23F27E38'/%3E%3Cpath d='M7.12653 4.30969C7.27353 3.99099 7.72647 3.99099 7.87347 4.30969L8.67319 6.04347C8.7331 6.17336 8.85619 6.26279 8.99824 6.27963L10.8943 6.50444C11.2428 6.54576 11.3828 6.97654 11.1251 7.21483L9.72331 8.51117C9.61829 8.60828 9.57127 8.75299 9.59915 8.89328L9.97126 10.766C10.0397 11.1102 9.67321 11.3765 9.36696 11.205L7.70089 10.2724C7.57608 10.2026 7.42392 10.2026 7.29911 10.2724L5.63304 11.205C5.32679 11.3765 4.96034 11.1102 5.02874 10.766L5.40085 8.89328C5.42873 8.75299 5.38171 8.60828 5.27669 8.51117L3.8749 7.21483C3.61722 6.97654 3.75719 6.54576 4.10572 6.50444L6.00176 6.27963C6.14381 6.26279 6.2669 6.17336 6.32681 6.04347L7.12653 4.30969Z' fill='white'/%3E%3C/svg%3E");                
                }
            }
        }
    }

    &__list-icon {
        display: inline-flex;

        &.is-background {
            background: #219653;
            border-radius: 2px;
            padding: 2.5px;
        }
    }

    &__list-group {
        @include flex-v-center;
        gap: 0 8px;
    }

    &__num {
        @include font(var(--typo-1), 16px, var(--fw-extrabold));
        color: var(--color-black);
    }

    &__list-star {
        @include flex-v-center;
        gap: 0 4px;
    }

    &__star {
        @include size(16px);
        display: inline-flex;
        position: relative;

        &::before {
            @include absolute(0, null, null, 0);
            @include size(16px);
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17' fill='none'%3E%3Cpath d='M9 1L11.2571 5.89337L16.6085 6.52786L12.6521 10.1866L13.7023 15.4721L9 12.84L4.29772 15.4721L5.34794 10.1866L1.39155 6.52786L6.7429 5.89337L9 1Z' fill='%23FF6A6A' stroke='%23FF6A6A' stroke-linejoin='round'/%3E%3C/svg%3E");
                size: cover;
            };
            content: ''
        }
    }

    &__list-text {
        @include font(var(--typo-1), 16px, var(--fw-normal));
        color: var(--color-black);
    }

    &__buttons {
        @include sm-mobile {
            @include flex-v-center;
            flex-direction: column;
            gap: 20px 0;
            width: 100%;
        }

        .btn {
            @include sm-mobile {
                width: 100%;
            }
        }
    }
}