<section class="section benefits">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Benefits</h2>
            <p class="title__text-small">Benefits and guarantees</p>
        </div>
        <div class="benefits__wrapper">
            <div class="benefits__item">
                <div class="benefits__picture">
                    <img src="../img/benefits-1.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">More than just plagiarism-free</h3>
                    <p class="benefits__paragraph paragraph">
                        Professors expect unique insights and brand new ideas, and that's what your writer will give them
                    </p>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__picture">
                    <img src="../img/benefits-2.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Make your voice heard</h3>
                    <p class="benefits__paragraph paragraph">
                        Track the progress and talk to your thesis helper directly, so we can adapt to both your advisor's comments and your own
                    </p>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__picture">
                    <img src="../img/benefits-3.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Master's & PhD-grade expertise</h3>
                    <p class="benefits__paragraph paragraph">
                        With advanced degrees in their respective areas, our people are already on a par with the committee members at your institution
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>