<div class="calculator">
    <form class="calculator__form">
        <div class="calculator__wrapper">

            <div class="calculator__wrap">
                <p class="calculator__label" for="level" data-label-type="academicLevel">Choose a level</p>
                <div class="calculator__select-block">
                    <div class="calculator__custom-select">
                        <div class="calculator__selected-item" data-selected-type="academicLevel" value="high_school">High School</div>
                        <div class="calculator__dropdown" id="level">
                            <div class="calculator__option" value="high_school">High School</div>
                            <div class="calculator__option" value="college_fre">College Freshman</div>
                            <div class="calculator__option" value="college_sof">College Sophomore</div>
                            <div class="calculator__option" value="college_jun">College Junior</div>
                            <div class="calculator__option" value="college_sen">College Senior</div>
                            <div class="calculator__option" value="masters">Master's</div>
                            <div class="calculator__option" value="phd">PhD</div>
                            <div class="calculator__option" value="business_std">Business (Standard)</div>
                            <div class="calculator__option" value="business_pre">Business (Premium)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="calculator__wrap">
                <p class="calculator__label" for="deadline" data-label-type="urgency">Choose a deadline</p>
                <div class="calculator__select-block">
                    <div class="calculator__custom-select">
                        <div class="calculator__selected-item" data-selected-type="urgency" value="15_days">15 days +</div>
                        <div class="calculator__dropdown" id="deadline">
                            <div class="calculator__option" value="1_day">1 day</div>
                            <div class="calculator__option" value="3_days">3 days</div>
                            <div class="calculator__option" value="5_6_days">5 - 6 days</div>
                            <div class="calculator__option" value="9_10_days">9 - 10 days</div>
                            <div class="calculator__option" value="11_14_days">11 - 14 days</div>
                            <div class="calculator__option" value="15_days">15 days +</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="calculator__wrap">
                <p class="calculator__label" for="pages">Number of pages:</p>
                <div class="calculator__counter-wrap">
                    <button id="decrease" class="calculator__counter-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                            <path d="M1 6H11" stroke="#2D1600" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <span class="calculator__counter-info"><span id="pages">1 </span> page <span class="pagess">s </span> <span id="word_count"> 275 words</span></span>
                    <button id="increase" class="calculator__counter-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                            <path d="M1 6H11" stroke="#2D1600" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 11L6 1" stroke="#2D1600" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="calculator__group">
                <p class="calculator__price">
                    <span class="calculator__result-text">Approximate price:</span>
                    <span id="total_cost" class="calculator__result">$0</span>
                </p>
                <button class="calculator__button btn" type="button">Order an essay</button>
            </div>
        </div>
    </form>
</div>