<section class="section cta is-reverse">
    <div class="container">
        <div class="cta__wrapper">
            <div class="cta__image">
                <img src="../img/cta-image-2.png" alt="picture">
            </div>
            <div class="cta__content">
                <div class="cta__title-wrap">
                    <h2 class="cta__title">Have academia’s finest work for you</h2>
                    <p class="cta__subtitle">The top 2% of academic talent is here for you</p>
                </div>
                <div class="cta__buttons">
                    <a href="#" class="btn">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</section>