<section class="section experts">
    <div class="container">
        <div class="experts__wrapper">
            <div class="experts__picture">
                <img src="../img/expert-img.png" alt="picture">
            </div>
            <div class="experts__content">
                <div class="title">
                    <h2 class="title__text">TOP writers in one place</h2>
                    <p class="title__text-small">Want to discuss your paper?­­­­ Chat with our writers for FREE</p>
                </div>
                <div class="experts__slider">
                    <div class="swiper-button-next experts__button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                            <path d="M4.5 11.5L9.5 6.5L4.5 1.5" stroke="#FF6A6A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="swiper-button-prev experts__button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                            <path d="M7.5 11.5L2.5 6.5L7.5 1.5" stroke="#FF6A6A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                    </div>
                    <div class="experts__slider-container swiper-container">
                        <div class="swiper-wrapper">
                            
                            <div class="experts__slider-item swiper-slide">
                                <div class="experts__group">
                                    <div class="experts__image">
                                        <img src="../img/experts-1.svg" alt="picture">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__row">
                                            <p class="experts__num">ID 123456</p>
                                            <div class="experts__flag">
                                                <img src="../img/flag-usa.png" alt="flag usa">
                                            </div>
                                        </div>
                                        <div class="experts__row">
                                            <div class="experts__icon">
                                                <img src="../img/degree.svg" alt="icon">
                                            </div>
                                            <div class="experts__degree">MBA</div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="experts__list">
                                    <li class="experts__item">Marketing</li>
                                    <li class="experts__item">Psychology</li>
                                    <li class="experts__item">Management</li>
                                    <li class="experts__item">English</li>
                                    <li class="experts__item">Business</li>
                                </ul>
                            </div>

                            <div class="experts__slider-item swiper-slide">
                                <div class="experts__group">
                                    <div class="experts__image">
                                        <img src="../img/experts-2.svg" alt="picture">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__row">
                                            <p class="experts__num">ID 123456</p>
                                            <div class="experts__flag">
                                                <img src="../img/flag-canada.png" alt="flag usa">
                                            </div>
                                        </div>
                                        <div class="experts__row">
                                            <div class="experts__icon">
                                                <img src="../img/degree.svg" alt="icon">
                                            </div>
                                            <div class="experts__degree">MBA</div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="experts__list">
                                    <li class="experts__item">Marketing</li>
                                    <li class="experts__item">Psychology</li>
                                    <li class="experts__item">Management</li>
                                    <li class="experts__item">English</li>
                                </ul>
                            </div>

                            <div class="experts__slider-item swiper-slide">
                                <div class="experts__group">
                                    <div class="experts__image">
                                        <img src="../img/experts-3.svg" alt="picture">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__row">
                                            <p class="experts__num">ID 563456</p>
                                            <div class="experts__flag">
                                                <img src="../img/flag-uk.png" alt="flag usa">
                                            </div>
                                        </div>
                                        <div class="experts__row">
                                            <div class="experts__icon">
                                                <img src="../img/degree.svg" alt="icon">
                                            </div>
                                            <div class="experts__degree">MBA</div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="experts__list">
                                    <li class="experts__item">Marketing</li>
                                    <li class="experts__item">Management</li>
                                    <li class="experts__item">English</li>
                                    <li class="experts__item">Business</li>
                                </ul>
                            </div>

                            <div class="experts__slider-item swiper-slide">
                                <div class="experts__group">
                                    <div class="experts__image">
                                        <img src="../img/experts-4.svg" alt="picture">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__row">
                                            <p class="experts__num">ID 123456</p>
                                            <div class="experts__flag">
                                                <img src="../img/flag-australia.png" alt="flag usa">
                                            </div>
                                        </div>
                                        <div class="experts__row">
                                            <div class="experts__icon">
                                                <img src="../img/degree.svg" alt="icon">
                                            </div>
                                            <div class="experts__degree">MBA</div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="experts__list">
                                    <li class="experts__item">Marketing</li>
                                    <li class="experts__item">Psychology</li>
                                    <li class="experts__item">Management</li>
                                    <li class="experts__item">English</li>
                                    <li class="experts__item">Business</li>
                                </ul>
                            </div>

                            <div class="experts__slider-item swiper-slide">
                                <div class="experts__group">
                                    <div class="experts__image">
                                        <img src="../img/experts-5.svg" alt="picture">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__row">
                                            <p class="experts__num">ID 125456</p>
                                            <div class="experts__flag">
                                                <img src="../img/flag-uk.png" alt="flag usa">
                                            </div>
                                        </div>
                                        <div class="experts__row">
                                            <div class="experts__icon">
                                                <img src="../img/degree.svg" alt="icon">
                                            </div>
                                            <div class="experts__degree">MBA</div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="experts__list">
                                    <li class="experts__item">Marketing</li>
                                    <li class="experts__item">Psychology</li>
                                    <li class="experts__item">Management</li>
                                </ul>
                            </div>

                            <div class="experts__slider-item swiper-slide">
                                <div class="experts__group">
                                    <div class="experts__image">
                                        <img src="../img/experts-6.svg" alt="picture">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__row">
                                            <p class="experts__num">ID 563456</p>
                                            <div class="experts__flag">
                                                <img src="../img/flag-usa.png" alt="flag usa">
                                            </div>
                                        </div>
                                        <div class="experts__row">
                                            <div class="experts__icon">
                                                <img src="../img/degree.svg" alt="icon">
                                            </div>
                                            <div class="experts__degree">MBA</div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="experts__list">
                                    <li class="experts__item">Marketing</li>
                                    <li class="experts__item">English</li>
                                    <li class="experts__item">Business</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>