<section class="section benefits">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Guarantees</h2>
            <p class="title__text-small">Benefits and guarantees</p>
        </div>
        <div class="benefits__wrapper">
            <div class="benefits__item">
                <div class="benefits__picture">
                    <img src="../img/guarantees-1.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Privacy and security</h3>
                    <p class="benefits__paragraph paragraph">
                        PWe are very particular about your privacy and data security on our platform
                    </p>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__picture">
                    <img src="../img/guarantees-2.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Money back guarantee</h3>
                    <p class="benefits__paragraph paragraph">
                        We offer each client a money-back guarantee if they are not satisfied with their 
                        fulfilled order or if we don't meet the guidelines
                    </p>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__picture">
                    <img src="../img/guarantees-3.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">24/7 customer assistance</h3>
                    <p class="benefits__paragraph paragraph">
                        If you have questions, your customer support team is always ready to answer them 24/7
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>