<section class="section history">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Our history</h2>
        </div>
        <div class="history__wrapper">
            <div class="history__item">
                <p class="history__num">2013</p>
                <div class="history__content">
                    <h3 class="history__title item-title">The Inception</h3>
                    <p class="history__paragraph paragraph">Your writer may start with a blank page, but they know exactly what kind of content will go inside.</p>
                </div>
            </div>
            <div class="history__item">
                <p class="history__num">2015</p>
                <div class="history__content">
                    <h3 class="history__title item-title">Hired Our 500th Writer</h3>
                    <p class="history__paragraph paragraph">Your writer may start with a blank page, but they know exactly what kind of content will go inside.</p>
                </div>
            </div>
            <div class="history__item">
                <p class="history__num">2020</p>
                <div class="history__content">
                    <h3 class="history__title item-title">Changed Our Looks</h3>
                    <p class="history__paragraph paragraph">Your writer may start with a blank page, but they know exactly what kind of content will go inside.</p>
                </div>
            </div>
            <div class="history__item">
                <p class="history__num">2023</p>
                <div class="history__content">
                    <h3 class="history__title item-title">The Fight Against AI</h3>
                    <p class="history__paragraph paragraph">Your writer may start with a blank page, but they know exactly what kind of content will go inside.</p>
                </div>
            </div>
        </div>
    </div>
</section>