<section class="section mission">
    <div class="container">
        <div class="title is-primary">
            <h1 class="title__text">About us</h1>
            <p class="title__text-small">
                Choose the project type, and share as many (or as few) details as you deem necessary. 
                Your expert will go from there. And deliver.
            </p>
        </div>
        <div class="mission__wrapper">
            <div class="mission__content">
                <h3 class="mission__title">Our mission</h3>
                <p class="mission__subtitle">
                    Our writers are professionals in what they do. Our writers are not only native 
                    English speakers, they hold Master's and PhD degrees in various disciplines and 
                    they understand how to complete a perfect and flawless thesis or dissertation. 
                    These writers devote most of their free time to academic and/or business writing 
                    and most importantly, they understand what they need to do to make your paper shine.
                </p>
            </div>
            <div class="mission__picture">
                <img src="../img/mission-img.png" alt="picture">
            </div>
        </div>
    </div>
</section>