<section class="section price">
    <div class="container">
        <div class="title is-primary">
            <h1 class="title__text">Pricing</h1>
            <p class="title__text-small">
                Get more done with expert services tailored to meet your demands, no matter the challenge.
            </p>
        </div>
        <div class="price__wrapper">
            <div class="price__slider">
                <div class="price__button-group">
                    <div class="swiper-button-next price__button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                            <path d="M4.5 11.5L9.5 6.5L4.5 1.5" stroke="#FF6A6A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="swiper-button-prev price__button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                            <path d="M7.5 11.5L2.5 6.5L7.5 1.5" stroke="#FF6A6A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                    </div>
                </div>
                <div class="price__slider-container swiper-container">
                    <div class="swiper-wrapper">
                        <div class="price__slider-item swiper-slide">
                            <div class="price__content">
                                <h3 class="price__title item-title">Writing</h3>
                                <div class="price__group">
                                    <p class="price__from paragraph">from</p>
                                    <p class="price__cost item-title">$9.95</p>
                                    <p class="price__words paragraph">per page / 300 words</p>
                                </div>
                                <ul class="price__list">
                                    <li class="price__item">Content written from scratch</li>
                                    <li class="price__item">Exhaustive research</li>
                                    <li class="price__item">Expert analysis of sources</li>
                                    <li class="price__item">Full Editing Service</li>
                                </ul>
                            </div>
                            <div class="price__bottom">
                                <div class="price__bottom-row">
                                    <span class="price__icon" aria-hidden="true"></span>
                                    <p class="price__descr">Full Editing Service</p>
                                </div>
                                <a href="#" class="btn">Place Order</a>
                            </div>
                        </div>
    
                        <div class="price__slider-item swiper-slide">
                            <div class="price__content">
                                <h3 class="price__title item-title">Editing</h3>
                                <div class="price__group">
                                    <p class="price__from paragraph">from</p>
                                    <p class="price__cost item-title">$7.99</p>
                                    <p class="price__words paragraph">per page / 300 words</p>
                                </div>
                                <ul class="price__list">
                                    <li class="price__item">Project-specific formatting</li>
                                    <li class="price__item">Optimizing word choice</li>
                                    <li class="price__item">Style and tone consistency</li>
                                </ul>
                            </div>
                            <div class="price__bottom">
                                <div class="price__bottom-row">
                                    <span class="price__icon" aria-hidden="true"></span>
                                    <p class="price__descr">Full Proofreading Service</p>
                                </div>
                                <a href="#" class="btn">Place Order</a>
                            </div>
                        </div>
    
                        <div class="price__slider-item swiper-slide">
                            <div class="price__content">
                                <h3 class="price__title item-title">PROOFREADING</h3>
                                <div class="price__group">
                                    <p class="price__from paragraph">from</p>
                                    <p class="price__cost item-title">$6.99</p>
                                    <p class="price__words paragraph">per page / 300 words</p>
                                </div>
                                <ul class="price__list">
                                    <li class="price__item">Removing typos</li>
                                    <li class="price__item">Grammar & punctuation check</li>
                                    <li class="price__item">Correcting spelling errors</li>
                                </ul>
                            </div>
                            <div class="price__bottom">
                                <a href="#" class="btn">Place Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="price__note">*The total price for your order is calculated based on the deadline, complexity, and number of pages.</p>
        </div>
    </div>
</section>