<section class="section safe">
    <div class="container">
        <div class="safe__wrapper">
            <div class="safe__content">
                <h3 class="safe__title">Stay Safe and Pay as You Go</h3>
                <div class="safe__group">
                    <p class="safe__subtitle">
                        For your security, we only work with the most trusted payments systems, so that 
                        your funds and personal information remain safe at all times.
                    </p>
                    <p class="safe__subtitle">
                        Got an order exceeding $500? Break down your payment into several parts. You don't have to 
                        trust us right away: we'll earn it with our work.
                    </p>
                </div>
            </div>
            <div class="safe__picture">
                <img src="../img/safe-img.png" alt="picture">
            </div>
        </div>
    </div>
</section>