<section class="section stats">
    <div class="container">
        <div class="stats__wrapper">
            <div class="stats__item">
                <p class="stats__num">1 528</p>
                <h3 class="stats__title item-title">Professional writers</h3>
            </div>
            <div class="stats__item">
                <p class="stats__num">1M+</p>
                <h3 class="stats__title item-title">Orders completed</h3>
            </div>
            <div class="stats__item">
                <p class="stats__num">854</p>
                <h3 class="stats__title item-title">Regular customers</h3>
            </div>
            <div class="stats__item">
                <p class="stats__num">100%</p>
                <h3 class="stats__title item-title">Orders delivered on time</h3>
            </div>
        </div>
    </div>
</section>