<section class="section ticker">
    <div class="title">
        <h2 class="title__text">Reviews from happy students</h2>
        <p class="title__text-small">Thousands of reviews from happy students</p>
    </div>

    <div class="ticker__slider">
        <div class="ticker__swiper-pagination swiper-pagination"></div>
        <div class="ticker__slider-container swiper-container">
            <div class="ticker__wrapper swiper-wrapper" id="tickerWrapper">

                <div class="ticker__item swiper-slide is-trustpilot">
                    <div class="ticker__info">
                    <div class="ticker__rating">
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                    </div>
                        <span class="ticker_logo">
                        <img src="../img/trustpilot-logo.svg" alt="logo">
                    </span>
                    </div>
                    <div class="ticker__content">
                        <h3 class="ticker__title">Medicine thesis</h3>
                        <p class="ticker__category">
                            Nursing is already difficult to college students who spend time in class 
                            and theater. It is for this reason that I thought that I would never get 
                            medicine assignment help online.
                        </p>
                    </div>
                    <div class="ticker__post">
                        <span class="ticker__name">Lauren H.</span>
                        <span class="ticker__date">January 11th, 2022</span>
                    </div>
                </div>

                <div class="ticker__item swiper-slide is-viva">
                    <div class="ticker__info">
                        <div class="ticker__rating">
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                        </div>
                        <span class="ticker__logo">
                        <img src="../img/viva-logo.svg" alt="logo">
                    </span>
                    </div>
                    <div class="ticker__content">
                        <h3 class="ticker__title">Medicine thesis</h3>
                        <p class="ticker__category">
                            Nursing is already difficult to college students who spend time in class and theater.
                            It is for this reason that I thought that I would never get medicine assignment help 
                            online. My perspective changed when I landed on your website. I have worked with the 
                            most experienced and professional medicine writers. 
                        </p>
                    </div>
                    <div class="ticker__post">
                        <span class="ticker__name">Hazel B.</span>
                        <span class="ticker__date">June 25th, 2021</span>
                    </div>
                </div>

                <div class="ticker__item swiper-slide is-sitejabber">
                    <div class="ticker__info">
                        <div class="ticker__rating">
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                            <span class="ticker__stars" aria-hidden="true"></span>
                        </div>
                        <span class="ticker__logo">
                        <img src="../img/logo-sitejabber.svg" alt="logo">
                    </span>
                    </div>
                    <div class="ticker__content">
                        <h3 class="ticker__title">Medicine thesis</h3>
                        <p class="ticker__category">
                            Nursing is already difficult to college students who spend time in class and theater. 
                            It is for this reason that I thought that I would never get medicine assignment help online. 
                            My perspective changed when I landed on your website.
                        </p>
                    </div>
                    <div class="ticker__post">
                        <span class="ticker__name">Lauren H.</span>
                        <span class="ticker__date">January 11th, 2022</span>
                    </div>
                </div>

                <div class="ticker__item swiper-slide is-sitejabber">
                    <div class="ticker__info">
                    <div class="ticker__rating">
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                    </div>
                        <span class="ticker__logo">
                        <img src="../img/logo-sitejabber.svg" alt="logo">
                    </span>
                    </div>
                    <div class="ticker__content">
                        <h3 class="ticker__title">Medicine thesis</h3>
                        <p class="ticker__category">
                            Nursing is already difficult to college students
                            who spend time in class and theater. It is for this reason that I thought
                            that I would never get medicine assignment help online. My perspective changed
                            when I landed on your website. I have worked with the most experienced and professional
                            medicine writers.
                        </p>
                    </div>
                    <div class="ticker__post">
                        <span class="ticker__name">Lauren H.</span>
                        <span class="ticker__date">January 11th, 2022</span>
                    </div>
                </div>

                <div class="ticker__item swiper-slide is-trustpilot">
                    <div class="ticker__info">
                    <div class="ticker__rating">
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                    </div>
                        <span class="ticker__logo">
                        <img src="../img/trustpilot-logo.svg" alt="logo">
                    </span>
                    </div>
                    <div class="ticker__content">
                        <h3 class="ticker__title">Great communication</h3>
                        <p class="ticker__category">
                            First, my experience was amazing. I was a little skeptical after reading
                            other reviews. I was impressed with the site. Thesishelpers site was easy
                            to use and tech support reached out to me immediately I entered it. They
                            were available 24/7, chat support until the end.
                        </p>
                    </div>
                    <div class="ticker__post">
                        <span class="ticker__name">Nicholas S.</span>
                        <span class="ticker__date">January 18th, 2022</span>
                    </div>
                </div>

                <div class="ticker__item swiper-slide is-viva">
                    <div class="ticker__info">
                    <div class="ticker__rating">
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                        <span class="ticker__stars" aria-hidden="true"></span>
                    </div>
                        <span class="ticker__logo">
                        <img src="../img/viva-logo.svg" alt="logo">
                    </span>
                    </div>
                    <div class="ticker__content">
                        <h3 class="ticker__title">World class coaches - Masters Thesis</h3>
                        <p class="ticker__category">
                            I thought I was bright and would have managed the Master's thesis without
                            any assistance. I went for help after being asked to redraft the title several
                            times. I bumped on the offer for a Master's thesis coach.
                        </p>
                    </div>
                    <div class="ticker__post">
                        <span class="ticker__name">Hubert H.</span>
                        <span class="ticker__date">December 8th, 2021</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>