<section class="section work">
    <div class="container">
        <div class="title">
            <h2 class="title__text">How our service works</h2>
            <p class="title__text-small">The way we operate is defined by your needs.
                Enjoy hassle-free thesis writing help online
            </p>
        </div>
        <div class="work__wrapper">
            <div class="work__image-group">
                <div class="work__picture">
                    <img src="../img/work-1.png" alt="instruction">
                </div>
                <div class="work__picture">
                    <img src="../img/work-2.png" alt="instruction">
                </div>
                <div class="work__picture">
                    <img src="../img/work-3.png" alt="instruction">
                </div>
            </div>
            <div class="work__content">
                <div class="work__item is-active">
                    <h3 class="work__title item-title js-tab-link">1. Tell us what you need</h3>
                    <div class="work__answer">
                        <div class="work__answer-inner">
                            <p class="work__paragraph paragraph">
                                Fill out the order form with essay instructions your teacher has provided.
                                We'll quickly match you with the right writers. All you need to do to register
                                is give us an email address and we’ll generate an account for you.
                            </p>
                            <a href="#" class="btn is-transparent">Next Step</a>
                        </div>
                    </div>
                </div>
                <div class="work__item">
                    <h3 class="work__title item-title js-tab-link">2. Hire ideal essay writer</h3>
                    <div class="work__answer">
                        <div class="work__answer-inner">
                            <p class="work__paragraph paragraph">
                                Browse writers’ proposals, profiles, reviews, and rates. Chat with those you like the
                                most and hire your favorite one. Each writer specializes in a certain field and has
                                already attained a high level of experience, you can easily check this information
                                in the writer’s profile.
                            </p>
                            <a href="#" class="btn is-transparent">Next Step</a>
                        </div>
                    </div>
                </div>
                <div class="work__item">
                    <h3 class="work__title item-title js-tab-link">3. Get your paper writing</h3>
                    <div class="work__answer">
                        <div class="work__answer-inner">
                            <p class="work__paragraph paragraph">
                                Review your finished essay and leave feedback for your writer. Pay only when all
                                requirements are met and you are 100% satisfied with the result. Once you have received
                                the final document, any complaints or requested revisions can be made within three days.
                            </p>
                            <a href="#" class="btn">Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>